recycle_venv
python310_venv
our_dataset
dataset
all_run_data
Homework2_Submission.zip
py38_venv
plastic_and_metal_dataset
mobilenet_trained_on_plastic_and_metal_dataset_100_epochs
mobilenet_lower_weights
mobilenet_backbone_30_epochs_py38
resnet_backbone_30_epochs_py38
resnet_model_checkpoints
resnet_model_checkpoints
class_dataset
runs
waste_detector_repo.code-workspace
checkpoints
infer.log
train.log